@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-color: #343951;
  --secondary-color: #9396a5;
  --background-color: #f5f6fb;
  --orange-color: #ffa000;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 220px 1fr 335px;
  grid-gap: 1em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: var(--primary-color);
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}

h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100vh;
  background-color: var(--primary-color);
}

.sidebar-nav h1 {
  margin-bottom: 25px;
  padding: 25px 35px;
  color: var(--background-color);
}

.sidebar-nav h1 span {
  color: var(--orange-color);
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.057);
  font-size: 13px;
}

.sidebar-nav ul li {
  margin-bottom: 30px;
  padding-left: 35px;
}

.sidebar-nav ul li a.active {
  color: #fff;
}

.sidebar-nav ul li a i {
  margin-right: 15px;
}

.sidebar-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-actions-list {
  position: relative;
  margin-bottom: 26px;
  padding: 24px 28px 10px 18px;
  background-color: rgba(255, 255, 255, 0.057);
  border-radius: 8px;
}

.sidebar-actions-list::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 25px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.057);
}

.sidebar-actions-list li {
  margin-bottom: 12px;
  font-size: 12px;
}

.sidebar-actions-list li i {
  margin-right: 6px;
  color: #fff;
}

.sidebar-actions-btn {
  display: flex;
  position: relative;
  width: 145px;
  margin-bottom: 28px;
  padding: 10px 20px 10px 28px;
  background-color: var(--orange-color);
  color: #fff;
  font-size: 12px;
  border: 0;
  border-radius: 6px;
}

.sidebar-actions-btn::after {
  content: '+';
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  transform: translateX(-5px) translateY(4px);
}

.main-content {
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: var(--background-color);
}

.search {
  width: 100%;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 13px;
  border: 0;
  border-radius: 6px;
  background-image: url('img/search.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-position-x: 8px;
  background-size: 16px;
}

.recently-used-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.recently-used-header {
  display: flex;
  justify-content: space-between;
}

.btn-container button {
  margin-top: 20px;
  padding: 5px;
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
  font-size: 16px;
}

.article-container {
  display: flex;
  justify-content: space-between;
}

article {
  width: 230px;
  max-width: 90%;
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
}

.recent-files-header {
  display: flex;
  justify-content: space-between;
}

.recent-files-subheader {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  font-size: 14px;
}

.file-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: #fff;
}

.list-square-icon {
  margin-left: 18px;
  width: 22px;
  height: 22px;
  background-color: var(--orange-color);
  border-radius: 4px;
}

aside {
  width: 335px;
  background-color: var(--background-color);
}
